/* Page Style */
body{
	background: #1c284e;
	color: #ffffff;
	margin: 0 auto;
	text-align: center;
	width: 50%;
}
a{ color: #e96120; text-decoration: none; }

a:hover{ color: #fff; }

button, a{ margin: 6px; }

h1, h2, h3, p, ul{ font-family: arial; font-weight: 100; }

h3 { text-align: right; }

ul{ list-style: none; }

.support{
	font-size: 14px;
	text-align: right;
}

.box{ clear: both; }
.box-a li{
	float: left;
	margin: 30px 0px;
}